.maincard{
    display: flex;
    justify-content: center;
    width: 257px;
    height: 90vh;
}
.main{
    display: flex;
    justify-content: center;
   
    
}
.all
{
    justify-content: center;
    width :243px;
}