<!-- <div class="main" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="maincard" style="height: 3vh ;width: 540px;">
        <div fxLayout="column" fxLayoutAlign="space-between center"> -->
<div fxLayout="column" fxLayoutAlign="center center">
    <mat-accordion>
        <mat-expansion-panel style=" color:white;     width: 481px">
            <mat-expansion-panel-header style="width: 481px;height: 45px;">
                <mat-panel-title>
                        
                        <input class="search"  matInput placeholder="Take a Note..." style="width: 450px;" autocomplete="off">
                </mat-panel-title>
                <!-- <mat-panel-description>
                    
                </mat-panel-description> -->
            </mat-expansion-panel-header>
           
                <input class="search" matInput placeholder="Take a Note..." style="width: 450px;" autocomplete="off">
            
        </mat-expansion-panel>
    </mat-accordion>


</div>
<!-- </div>
    </mat-card>
</div> -->