<div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
    <mat-toolbar>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
            <div fxLayoutGap="5px">
                <mat-icon>
                    menu
                </mat-icon>
            </div>

            <div fxLayoutGap="5px">
                <img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" />
            </div>
            <div fxLayoutGap="5px">
                <h3>FundooNotes</h3>

            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="50px">
            <mat-card class="matcard">
                <button mat-icon-button style="margin-right: 520px;">
                    <mat-icon>
                        <input matInput placeholder="search" style="width: 500px;"/>
                        search
                    </mat-icon>
                </button>
            </mat-card>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="35px">
            <div fxLayoutGap="7px">
                <button mat-icon-button>
                    <mat-icon matTooltip="refresh">
                        refresh
                    </mat-icon>
                </button>
            </div>
            <div fxLayoutGap="7px">
                <button mat-icon-button>
                    <mat-icon matTooltip="Grid_View">
                        view_agenda
                    </mat-icon>
                </button>
            </div>
            <div fxLayoutGap="7px">
                <button mat-icon-button>
                    <mat-icon matTooltip="settings">
                        settings
                    </mat-icon>
                </button>
            </div>
            <div fxLayoutGap="7px">
                <button mat-icon-button>
                    <mat-icon matTooltip="app">apps</mat-icon>
                </button>
            </div>
            <div fxLayoutGap="7px">
                <button mat-icon-button>
                    <mat-icon matTooltip="account">
                        account_circle
                    </mat-icon>
                </button>
            </div>
        </div>


    </mat-toolbar>
</div>